<template>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img src="../../src/assets/logo.svg" class="mb-5" />
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy.
          </p>
          <p class="mb-5"><a class="book-now" v-scroll-to="'#BookForm'">Book now</a></p>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-3">
              <div class="footer-menus">
                <h5>Menu</h5>
                <ul>
                  <li><a>Heading</a></li>
                  <li><a>Heading</a></li>
                  <li><a>Heading</a></li>
                  <li><a>Heading</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3">
              <div class="footer-menus">
                <h5>Menu</h5>
                <ul>
                  <li><a>Heading</a></li>
                  <li><a>Heading</a></li>
                  <li><a>Heading</a></li>
                  <li><a>Heading</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3">
              <div class="footer-menus">
                <h5>Menu</h5>
                <ul>
                  <li><a>Heading</a></li>
                  <li><a>Heading</a></li>
                  <li><a>Heading</a></li>
                  <li><a>Heading</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3">
              <div class="footer-menus">
                <h5>Menu</h5>
                <ul>
                  <li><a>Heading</a></li>
                  <li><a>Heading</a></li>
                  <li><a>Heading</a></li>
                  <li><a>Heading</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-xxl">
          <p>© 2019 RIVER. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Footer"
};
</script>
