<template>
    <div class="form-error">
        <div class="form-error__simple" v-if="type === 'simple'">
            <template v-if="isArray(errors)">
                <label class="form-error__msg"  v-for="(error, index) in errors" :key="index">{{error}}</label>
            </template>
            <label class="form-error__msg" v-else>{{errors}}</label>
        </div>
        <div class="form-error__alert" v-if="type === 'alert'">
            <el-alert v-bind:closable="false" type="error" title="">
                <div class="el-alert__subtitle">
                    <ul v-if="isArray(errors)"><li :key="index" v-for="(error, index) in errors">{{error}}</li></ul>
                    <ul v-else><li>{{errors}}</li></ul>
                </div>
            </el-alert>
        </div>
    </div>
</template>

<script>
    import _ from 'lodash';

    export default {
        name: "FormError",
        props: {
            errors: {
                type: [Array, String],
                required: true
            },
            type: {
                type: String,
                default: 'simple'
            }
        },
        created() {
        },
        methods: {
            isArray(value) {
                return _.isArray(value);
            }
        }
    }
</script>
<style>
    .form-error__msg {
        color: red;
        font-size: 13px;
    }
</style>
