.footer {
  background: #000000;
  color: #ffffff;
  padding-top: 90px;
  padding-bottom: 70px;

  * {
    color: #ffffff;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    opacity: 0.6;
    line-height: 30px;
  }

  .book-now {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 4.2px;
    text-transform: uppercase;
    opacity: 1;
    position: relative;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: -10px;
      left: 0;
      background: #ffffff;
      opacity: 0.8;
    }
  }

  &-menus {
    display: inline-block;
    float: right;

    h5 {
      margin-bottom: 40px;
      font-weight: 400;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 4.2px;
    }

    ul {
      list-style: none;
      padding: 0;

      a {
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0;
        opacity: 0.6;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;

    &-menus {
      float: left;
      margin-bottom: 20px;

      h5 {
        margin-bottom: 20px;
      }
    }
  }
}