.hero {
  height: 100vh;
  min-height: 100vh;
  position: relative;
  background: #000000;

  &:before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.2;
    background: url('./../../src/assets/hero-river@2x.png') center center no-repeat;
  }

  &-logo {
    padding: 80px 95px;
  }

  &-title {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -55px;

    h1{
      color: #ffffff;
      text-align: center;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 98px;
      line-height: 98px;
      margin: 0;
    }
  }
}

@media only screen and (max-width: 700px) {
  .hero {
    &-logo {
      padding: 30px 35px;
    }

    &-title {
      margin-top: -25px;

      h1{
        font-size: 48px;
        line-height: 48px;
      }
    }
  }
}