@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.mt-xxl {
  margin-top: 90px;
}

.container {
  &-main {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.left-padding {
  padding-left: 140px;

  &--sm {
    padding-left: 85px;
  }
}

.right-padding {
  padding-right: 14px;

  &--sm {
    padding-right: 85px;
  }
}

.river-bg {
  background: url('./../../src/assets/river-bg.svg') right bottom 20px no-repeat;
  background-size: 20%;
  padding-bottom: 200px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
}

h2 {
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 3px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-top: 5px;
}

h3 {
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 0;
  color: #000000;
  margin-bottom: 20px;
}

h4 {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0;
  color: #000000;
  line-height: 30px;
}

p {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
  color: #000000;
  opacity: 0.7;
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 3.2px;
  color: #9A9A9A;
}

.left-line {
  position: relative;

  &:before {
    position: absolute;
    height: 2px;
    width: 90px;
    content: '';
    top: 13px;
    left: -120px;
    background: #000000;
  }

  &--sm {
    position: relative;

    &:before {
      position: absolute;
      height: 2px;
      width: 45px;
      content: '';
      top: 13px;
      left: -70px;
      background: #000000;
    }
  }
}

.btn-primary {
  font-weight: 400;
  font-size: 16px;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 4px;
  opacity: 1;
  color: #000000;
  padding: 10px 50px;

  &:hover {
    border: 1px solid #000000;
    color: #ffffff;
    background: #000000;
  }
}

.btn-secondary {
  font-weight: 400;
  font-size: 16px;
  background: #000000;
  border: 1px solid #000000;
  border-radius: 4px;
  opacity: 1;
  color: #ffffff;
  padding: 10px 50px;

  &:hover {
    border: 1px solid #000000;
    color: #000000;
    background: #ffffff;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    &-main {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  .mt-xxl {
    margin-top: 30px;
  }

  .left-padding {
    padding-left: 80px;

    &--sm {
      padding-left: 50px;
    }
  }

  .right-padding {
    padding-right: 80px;

    &--sm {
      padding-right: 50px;
    }
  }

  .river-bg {
    padding-bottom: 100px;
  }

  .left-line {
    &:before {
      width: 40px;
      left: -55px;
    }

    &--sm {
      &:before {
        width: 20px;
        left: -30px;
      }
    }
  }

}
