<template>
  <div id="HomePage">
    <div class="hero container-fluid">
      <div class="row">
        <div class="hero-logo">
          <img src="../../src/assets/logo.svg" />
        </div>
        <div class="hero-title">
          <h1>EXAMPLE DEMO</h1>
        </div>
      </div>
    </div>
    <div class="container container-main">
      <div class="row">
        <div class="col-md-7 left-padding">
          <span class="subtitle">01</span>
          <h2>Heading</h2>
          <h4 class="left-line">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat.
          </h4>
          <el-button class="btn-primary mt-xxl" v-scroll-to="'#BookForm'"
            >Book Now</el-button
          >
        </div>
      </div>
    </div>
    <div class="container container-main">
      <div class="row">
        <div class="col-md-7">
          <img class="img-fluid" src="../../src/assets/image-water@2x.png" />
        </div>
        <div class="col-md-5 left-padding mt-xxl">
          <span class="subtitle">02</span>
          <h3 class="left-line">Lorem ipsum dolor sit amet, consetetur.</h3>
        </div>
      </div>
    </div>
    <div class="container container-main" id="BookForm">
      <div class="row">
        <div class="col-md-6 left-padding">
          <span class="subtitle">03</span>
          <h2 class="left-line">Heading</h2>
          <h3>Lorem ipsum dolor sit amet, consetetur.</h3>
          <h4>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua, vero eos et accusam et justo duo dolores et
            ea rebum.
          </h4>
        </div>
        <div class="col-md-5 mt-xxl" v-loading="formLoading">
          <el-form class="row mt-1" v-if="bookingForm">
            <div class="col-sm-12">
              <el-input v-model="bookingForm.name" placeholder="Your Name">
              </el-input>
              <FormError v-if="errors && errors.name" :errors="errors.name"></FormError>
            </div>
            <div class="col-sm-6">
              <el-date-picker
                v-model="bookingForm.date"
                type="date"
                placeholder="Pick a day"
                value-format="yyyy-MM-dd"
              >
              </el-date-picker>
              <FormError v-if="errors && errors.date" :errors="errors.date"></FormError>
            </div>
            <div class="col-sm-6">
              <el-time-select
                v-model="bookingForm.time"
                placeholder="Select a time"
              >
              </el-time-select>
              <FormError v-if="errors && errors.time" :errors="errors.time"></FormError>
            </div>
            <div class="col-sm-12">
              <el-input
                v-model="bookingForm.message"
                type="textarea"
                :autosize="{ minRows: 5, maxRows: 6 }"
                placeholder="Your message"
              >
              </el-input>
              <FormError v-if="errors && errors.message" :errors="errors.message"></FormError>
            </div>
            <div class="col-sm-12">
              <el-button class="btn-secondary mt-4" @click="addBooking">Book Now</el-button>
            </div>
          </el-form>
        </div>
      </div>
    </div>
    <div class="container container-main river-bg">
      <div class="row" v-if="!bookingList.length">
        <div class="col-md-12">
          <h4>No bookings at the moment</h4>
        </div>
      </div>
      <div class="row" v-if="bookingList.length" v-loading="listLoading">
        <div
          v-for="booking in bookingList"
          :key="booking.id"
          class="col-md-6 left-padding--sm right-padding--sm"
        >
          <span class="subtitle">{{ padDigits(booking.id) }}</span>
          <h4>{{ booking.name }}</h4>
          <h4>{{formatBookingDate(booking.booking_at)}}</h4>
          <h4>{{formatBookingTime(booking.booking_at)}}</h4>
          <p class="left-line--sm mt-4 mb-5">
            {{booking.message}}
          </p>
        </div>
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import Footer from "../components/Footer";
import FormError from "../components/FormError";
import moment from "moment";
import axios from "axios";
export default {
  name: "Home",
  components: {FormError, Footer },
  data() {
    return {
      errors: [],
      bookingForm: null,
      formLoading: false,
      listLoading: false,
      bookingList: []
    };
  },
  async mounted() {
    this.resetForm();
    await this.fetchBookingList();
  },
  methods: {
    async fetchBookingList() {
      this.listLoading = true;
      try {
        let res = await axios.get("bookings");
        this.bookingList = res.data.data;
        this.listLoading = false;
      } catch (e) {
        this.listLoading = false;
        console.log(e);
      }
    },
    async addBooking() {
      this.formLoading = true;
      try {
        let res = await axios.post("bookings", this.bookingForm);
        this.bookingList.unshift(res.data.data);
        this.formLoading = false;
        this.resetForm();
        this.$message({
          showClose: true,
          message: 'Booking added successfully.',
          type: 'success'
        });
      } catch (e) {
        this.formLoading = false;
        this.errors = e.response.data.errors;
        console.log(e);
      }
    },
    resetForm() {
      this.errors = [];
      this.bookingForm = {
        name: null,
        date: null,
        time: null,
        message: null
      };
    },
    formatBookingDate(bookingDate) {
      return moment(bookingDate).format('MMM DD YYYY');
    },
    formatBookingTime(bookingDate) {
      return moment(bookingDate).format('hh:mma');
    },
    padDigits(number, digits = 2) {
      return Array(Math.max(digits - String(number).length + 1, 0)).join(0) + number;
    }
  }
};
</script>
