.el-input {
  width: 100%;
  margin-top: 20px;

  &__icon {
    color: #000000;
  }

  &__inner {
    border: solid 1px #000000;
    border-radius: 4px;
    color: #000000;
    width: 100%;

    &::placeholder {
      color: #000000;
    }
  }
}